
body{
  margin: 0;
  padding: 0;
  height: 100vh; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  line-height: 1.6;
  text-align: justify;
  background-color: black;
  color: aliceblue;
}

  div::before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('https://s1.eestatic.com/2021/07/12/actualidad/595952167_195030066_1706x960.jpg');
  background-size: contain; /* Para que a imagem se ajuste ao tamanho do elemento */
}



