
body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Garantir que a página ocupe toda a altura da tela */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #025912;
  text-align: center;
  line-height: 1.6;
}



